/* css/modules/_button.css */

.btn-primario,
.btn-secundario {
    display: inline-block;
    padding: var(--space-2) var(--space-3);
    font-size: var(--font-size-base);
    font-weight: 700;
    text-align: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    text-transform: uppercase;
    border: 2px solid transparent;
}

/* Botão Primário (Azul) */
.btn-primario {
    background-color: var(--color-primary-500);
    color: var(--color-neutral-white) !important;
    border-color: var(--color-primary-500);
}

    .btn-primario:hover {
        background-color: var(--color-primary-700);
        transform: translateY(-2px);
    }

    .btn-primario:active {
        background-color: var(--color-primary-900);
    }

/* Botão Secundário (Verde) */
.btn-secundario {
    background-color: var(--color-secondary-500);
    color: var(--color-neutral-white) !important;
    border-color: var(--color-secondary-500);
}

    .btn-secundario:hover {
        background-color: var(--color-secondary-900);
        transform: translateY(-2px);
    }

    .btn-secundario:active {
        background-color: var(--color-secondary-900);
    }

    /* Estado Desabilitado */
    .btn-primario[disabled],
    .btn-secundario[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
        transform: none;
    }
